.payments-container {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 538px;
    box-sizing: border-box;
}

.payments-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    border-bottom: 1px solid #E1E1E1;
}

.payments-title {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin: 0;
}

.view-all-btn {
    padding: 8px 16px;
    background: #E1E1E1;
    border-radius: 4px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.payments-items {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
}

.payment-card {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.05));
    border-radius: 8px;
}

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 16px;
}

.user-avatar {
    width: 48px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-shadow: 0px 12px 16px -4px rgba(10, 13, 18, 0.08);
    border-radius: 200px;
    object-fit: cover;
}

.user-text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.user-name {
    font-family: 'Mulish', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
}

.user-class {
    font-family: 'Mulish', sans-serif;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
}

.fees-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 4px;
}

.info-label {
    font-family: 'Mulish', sans-serif;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.fees-val {
    font-family: 'Mulish', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #10437A;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.align-right {
    align-items: flex-end;
}

.status-val {
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: #10437A;
}