/* Global App Styles */
#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: left;
  
}

* {
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

html {
  scroll-behavior: smooth;
}